
<div class="development">
<!--   <header class="header-section">
    <div class="section-inner">
      <h1 class="page-title">Development <small>Powered by <a href="https://github.com/" target="_blank">GitHub</a></small></h1>
    </div>
  </header> -->

  <section id="ghost-and-angular" class="content-section">
    <div class="section-inner">
      <h2>Ghost & AngularJS</h2>
      <p>
        <span translate="SECTIONS.DEV.DISCLAIMER"></span>
        <br>
        <small translate="SECTIONS.DEV.INTENT"></small>
      </p>
    </div>
  </section>

  <section id="bower-dependencies" class="content-section">
    <div class="section-inner">
      <h2>Bower {{'SECTIONS.DEV.DEPENDENCIES' | translate}}</h2>
      <div class="article-list project-list"
        masonry
        item-selector=".project"
        load-images="false" >
        <article class="project"
          masonry-brick
          ng-repeat="project in bower | orderBy:'name'">
          <div
            github-repo="{{project.repo}}"
            github-repo-override="{name: project.name}"
            github-repo-options="{author: true}"></div>
        </article>
      </div>
    </div>
  </section>

  <section id="node-dependencies" class="content-section">
    <div class="section-inner">
      <h2>NPM {{'SECTIONS.DEV.DEPENDENCIES' | translate}}</h2>
      <div class="article-list project-list"
        masonry="{transitionDuration: 0}"
        item-selector=".project"
        load-images="false" >
        <article class="project"
          masonry-brick
          ng-repeat="project in node | orderBy:'name'">
          <div
            github-repo="{{project.repo}}"
            github-repo-override="{name: project.name}"
            github-repo-options="{author: true}"></div>
        </article>
      </div>
    </div>
  </section>
</div>
