
<div id="home">
  <header id="intro" class="header-section">
    <div class="section-inner">
      <p>Lucas Constantino Silva is a developer and kind of a web designer. He has knowledge on all major languages of the web, such as HTML, CSS (with a drop of Sass), PHP and lovely JavaScript. He works at <a href="https://taller.net.br/">Taller</a>, a great company with amazing <s>people</s> friends.</p>
      <p style="font-size: 0.8em">He definitely <i class="fa fa-heart love"></i> his girlfriend.</p>
    </div>
  </header>

  <div ng-controller="BlogPostsController" class="blog-posts">
    <header class="header-section">
      <div class="section-inner">
        <h2 class="section-title">
          <a ui-sref="blog" class="section-icon fa fa-rss"></a>
          <span>Latest Posts</span>
        </h2>

        <div class="article-list post-list">
          <article class="post"
            ng-repeat="post in posts | limitTo:6">
            <a ui-sref="blog.post({slug: '{{post.slug}}'})">
              <header>
                <h4>{{post.title}}</h4>
                <div class="post-meta-date">
                  <time datetime="{{post.date | date:'yyyy-MM-dd'}}">
                    <span class="date-day">{{post.date | date:"d"}}</span>
                    <span class="date-month">{{post.date | date:"MMM"}}</span>
                  </time>
                </div>
              </header>
            </a>
          </article>
        </div>
      </div>
    </header>
  </div>

</div>
