
<div id="home">

  <!-- <h1 ng-if="viewing" class="current-section-title">{{viewing}}</h1> -->

  <header scroll-spy id="intro" class="header-section">
    <div class="section-inner">
      <p translate>HOME.ABOUT</p>
      <p translate style="font-size: 0.8em">HOME.LOVE</p>
    </div>
  </header>


  <div class="content-type blog blog-posts"
    ng-controller="BlogPostsController"
    scroll-spy='{{"SECTIONS.BLOG.SHORT_NAME" | translate}}'>
    <header class="header-section">
      <div class="section-inner">
        <h2 class="section-title">
          <a ui-sref="blog" class="section-icon">
            <span class="ghost-icon" translate="SECTIONS.BLOG.SHORT_NAME"></span>
          </a>
        </h2>

        <div class="article-list post-list">
          <div class="article-group post-translations"
            ng-repeat="(date, grouped) in posts | limitTo:6 | groupBy: 'published_at'">
            <article class="post"
              ng-repeat="post in grouped | language | languageFirst">
              <a ui-sref="blog.post({slug: '{{post.slug}}'})">
                <header>
                  <h4>{{post.title}}</h4>
                  <div class="post-meta">
                    <div class="post-meta-date">
                      <time datetime="{{post.date | date:'yyyy-MM-dd'}}">
                        <span class="date-day">{{post.date | date:"d"}}</span>
                        <span class="date-month">{{post.date | date:"MMM"}}</span>
                      </time>
                    </div>
                  </div>
                </header>
              </a>
            </article>
          </div>
        </div>
        <p class="only-language-results">
          <a
            ng-if="posts.length > (posts | language).length"
            ui-sref="language"
            translate
            translate-values="{language: language.name}">I18N.FILTERED_TEXT</a>
        </p>
      </div>
    </header>
  </div>

  <div class="content-type slides slide-decks"
    ng-controller="DeckListController"
    scroll-spy='{{"SECTIONS.TALKS.SHORT_NAME" | translate}}'>
    <header class="header-section">
      <div class="section-inner">
        <h2 class="section-title">
          <a ui-sref="talks" class="section-icon">
            <span class="fa fa-comments-o" translate="SECTIONS.TALKS.SHORT_NAME"></span>
          </a>
        </h2>

        <div class="article-list deck-list">
          <article class="deck"
            ng-repeat="deck in decks | language | limitTo:4">
            <a ui-sref="talks.deck({slug: '{{deck.slug}}'})">
              <header>
                <h4>{{deck.title}}</h4>
                <div class="deck-meta">
                  <span class="deck-views"
                    ng-if="deck.views">{{deck.views}} <i class="fa fa-eye"></i>
                  </span>
                  <span class="deck-likes"
                    ng-if="deck.likes">{{deck.likes}} <i class="fa fa-star"></i>
                  </span>
                  <span class="deck-lang"
                    ng-if="deck.language">
                    <i class="flag-icon flag-icon-{{deck.language | country}}"></i>
                  </span>
                </div>
              </header>
            </a>
          </article>
        </div>
        <p class="only-language-results">
          <a
            ng-if="decks.length > (decks | language).length"
            ui-sref="language"
            translate
            translate-values="{language: language.name}">I18N.FILTERED_TEXT</a>
        </p>
      </div>
    </header>
  </div>
</div>
