
<div id="home">

  <!-- <h1 ng-if="viewing" class="current-section-title">{{viewing}}</h1> -->

  <header scroll-spy id="intro" class="header-section">
    <div class="section-inner">
      <p>Lucas Constantino Silva is a developer and kind of a web designer. He has knowledge on all major languages of the web, such as HTML, CSS (with a drop of Sass), PHP and lovely JavaScript. He works at <a href="https://taller.net.br/">Taller</a>, a great company with <s>nice</s> awesome people.</p>
      <p style="font-size: 0.8em">He definitely <i class="fa fa-heart love"></i> his girlfriend.</p>
    </div>
  </header>


  <div class="content-type blog blog-posts"
    ng-controller="BlogPostsController"
    scroll-spy='Blog'>
    <header class="header-section">
      <div class="section-inner">
        <h2 class="section-title">
          <a ui-sref="blog" class="section-icon">
            <span class="ghost-icon">Blog</span>
          </a>
        </h2>

        <div class="article-list post-list">
          <article class="post"
            ng-repeat="post in posts | limitTo:6">
            <a ui-sref="blog.post({slug: '{{post.slug}}'})">
              <header>
                <h4>{{post.title}}</h4>
                <div class="post-meta-date">
                  <time datetime="{{post.date | date:'yyyy-MM-dd'}}">
                    <span class="date-day">{{post.date | date:"d"}}</span>
                    <span class="date-month">{{post.date | date:"MMM"}}</span>
                  </time>
                </div>
              </header>
            </a>
          </article>
        </div>
      </div>
    </header>
  </div>

  <div class="content-type slides slide-decks"
    ng-controller="DeckListController"
    scroll-spy='Talks'>
    <header class="header-section">
      <div class="section-inner">
        <h2 class="section-title">
          <a ui-sref="talks" class="section-icon">
            <span class="fa fa-comments-o">Talks</span>
          </a>
        </h2>

        <div class="article-list deck-list">
          <article class="deck"
            ng-repeat="deck in decks | limitTo:4">
            <a ui-sref="talks.deck({slug: '{{deck.slug}}'})">
              <header>
                <h4>{{deck.title}}</h4>
                <span class="deck-views"
                  ng-id="deck.views">{{deck.views}} <i class="fa fa-eye"></i></span>
                <span class="deck-likes"
                  ng-if="deck.likes">{{deck.likes}} <i class="fa fa-star"></i></span>
              </header>
            </a>
          </article>
        </div>
      </div>
    </header>
  </div>
</div>
