/*------------------------------------------------------------------------------
 * Blog Post
 *------------------------------------------------------------------------------
 */

.blog-post
  .header-section

    .section-inner
      @extend %readable

  .dividing-section
    font-size: 0.8em
    padding: 10px 15px

    .section-inner
      @extend %readable

    .post-meta-date
      float: right

    .post-meta-tags
      .post-tags
        display: inline

      .post-tag
        display: inline

        &:after
          content: ", "

        &:last-child:after
          display: none

        &.penult:after
          content: "&"

  .message-section .section-inner
    @extend %readable

  .content-section
    background-color: white

  .post
    @extend %readable
