/*------------------------------------------------------------------------------
 * Blog Post Listing
 *------------------------------------------------------------------------------
 */

.post-list
  .post-translations
    @extend %col-md-12
    margin-bottom: 1em
    text-align: center
    
    article.post
      > a
        @extend %panel-item

      + article.post
        a
          border-top-width: 0
          border-top-right-radius: 0
          border-top-left-radius: 0
          margin: 0 15px
          opacity: 0.5

          h2, h4
            margin: 0.2em 0

          &:hover
            margin-top: 0
            opacity: 0.7
            border-left-width: 1px
            border-left-color: rgba(0, 0, 0, 0.1) !important
            padding-right: 2rem
            padding-left: 2rem

          .post-excerpt,
          footer,
          .post-meta
            display: none
