/*------------------------------------------------------------------------------
 * Footer
 *------------------------------------------------------------------------------
 */

#site-footer
  padding: 5em 0
  text-align: center
  background-color: $color-reverse-background
  color: $color-asbestos
  a
    color: white
    