/*------------------------------------------------------------------------------
 * Footer
 *------------------------------------------------------------------------------
 */

#site-footer
  @extend %theme-midnight-blue
  text-align: center
  a
    color: white
  .section-inner
    padding-top: 6rem
    padding-bottom: 6rem

  .footer-section
    @extend %transition-navigation

  &:hover .footer-section
    color: rgba(white, 0.6)
