/*------------------------------------------------------------------------------
 * Home
 *------------------------------------------------------------------------------
 */

+keyframe(love)
  0%, 30%, 50%, 70%, 100%
    color: $color-alizarin
  40%, 60%
    color: inherit

#home
  #intro
    font-weight: 300
    font-style: italic
    .section-inner
      @extend %remarkable

    .love
      color: $color-alizarin
      font-size: 0.9em
      margin-left: 0.2em
      margin-right: 0.2em

    p:hover .love
      -webkit-animation: love 1s infinite
      animation: love 1s infinite

  .header-section
    .section-inner
      @extend %readable
      padding-top: 6rem
      padding-bottom: 6rem
      text-align: center

    .section-title span
      display: none
