/*------------------------------------------------------------------------------
 * Prism
 *------------------------------------------------------------------------------
 */

code[class*="language-"],
pre[class*="language-"] {
  color: $color-clouds;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: $color-midnight-blue;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $color-asbestos;
}

.token.punctuation {
  color: $color-silver;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: $color-peter-river;
}

.token.boolean,
.token.number{
  color: $color-emerald;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: $color-sun-flower;
}


.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: $color-alizarin;
}

.token.atrule,
.token.attr-value
{
  color: $color-pomegranate;
}


.token.keyword{
color: $color-peter-river;
}

.token.regex,
.token.important {
  color: $color-carrot;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}
