/*------------------------------------------------------------------------------
 * Deck page.
 *------------------------------------------------------------------------------
 */

.slide-deck
  @extend %theme-wisteria

  .featured-section
    iframe
      width: 100%
      height: 80vh

  .content-section
    text-align: center
    border-bottom: 2px dashed $color-silver

    + .content-section
      border-bottom: 0

  .deck-meta
    > span
      margin-right: 0.8em

      i:before
        margin-right: 0.1em

