/*------------------------------------------------------------------------------
 * Deck page.
 *------------------------------------------------------------------------------
 */

.slide-deck
  @extend %theme-wisteria

  .featured-section
    iframe
      width: 100%
      height: 80vh

  .deck-meta
    > span
      margin-right: 0.5em
