/*------------------------------------------------------------------------------
 * Color Definitions
 *------------------------------------------------------------------------------
 * Use this file to set color variables & functions.
 * 
 * Before starting to define your color variables, I'll advice you: colors (
 * maybe more then other kind of variables in Sass) can get really trick and 
 * messed up after some time, mostly because then tend to change a lot during 
 * development. To help you make better decisions, I would advice you to read 
 * the followng articles:
 * 
 * - http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-name-your-sass-variables-modularly/
 * - http://sachagreif.com/sass-color-variables/
 */



// Color pallete: http://flatuicolors.com/

// ------------------------------------
// Descriptive variables.
// ------------------------------------

$color-turquoise:     #1ABC9C
$color-green-sea:     #16A085
$color-emerald:       #2ECC71
$color-nephritis:     #27AE60
$color-peter-river:   #3498DB
$color-belize-hole:   #2980B9
$color-amethyst:      #9B59B6
$color-wisteria:      #8E44AD
$color-wet-asphalt:   #34495E
$color-midnight-blue: #2C3E50
$color-sun-flower:    #F1C40F
$color-orange:        #F39C12
$color-carrot:        #E67E22
$color-pumpkin:       #D35400
$color-alizarin:      #E74C3C
$color-pomegranate:   #C0392B
$color-clouds:        #ECF0F1
$color-silver:        #BDC3C7
$color-concrete:      #95A5A6
$color-asbestos:      #7F8C8D


// ------------------------------------
// Hierarchy variables.
// ------------------------------------

$color-primary: $color-peter-river
$color-secondary: $color-sun-flower


// ------------------------------------
// Functional variables.
// ------------------------------------

$color-text: $color-clouds
$color-heading: $color-clouds
$color-link: $color-secondary
$color-background: $color-midnight-blue

// Reverse
$color-reverse-text: $color-midnight-blue
$color-reverse-heading: $color-midnight-blue
$color-reverse-link: $color-primary
$color-reverse-background: $color-clouds
