/*------------------------------------------------------------------------------
 * Section Themes
 *------------------------------------------------------------------------------
 */



$section-theme: (
  blog:   'belize-hole',
  slides: 'wisteria',
  development: 'green-sea'
);
