/*------------------------------------------------------------------------------
 * Section Themes
 *------------------------------------------------------------------------------
 */



$section-theme: (
  blog:   'midnight-blue',
  slides: 'wisteria'
);
