/*
 *------------------------------------------------------------------------------
 * Default
 *------------------------------------------------------------------------------
 * Use this file to define default element/tag styles.
 */



%html
  font-size: $font-size-root

%body
  font-family: $font-text
  font-size: $font-size-text
  line-height: $font-line
  color: $color-text
  background-color: #222


// -----------------------------
// Anchors.
// -----------------------------

%a, %a:visited
  @extend %transition-navigation
  color: $color-link
  text-decoration: none
  &:hover, &:focus
    color: inherit
    text-decoration: underline
  &[ui-sref]
    cursor: pointer
  %hn &:hover, %hn &:focus
    text-decoration: none


// -----------------------------
// Headings.
// -----------------------------

%hn
  margin: 1em 0 0.6em
  line-height: 1em
  font-family: $font-heading
  font-weight: 300

%h1
  @extend %hn
  font-size: $font-size-h1
%h2
  @extend %hn
  font-size: $font-size-h2
%h3
  @extend %hn
  font-size: $font-size-h3
%h4
  @extend %hn
  font-size: $font-size-h4
%h5
  @extend %hn
  font-size: $font-size-h5
%h6
  @extend %hn
  font-size: $font-size-h6


// -----------------------------
// Line breaks.
// -----------------------------

%hr
  height: 0
  margin: 5em 5%
  border: 2px dashed $color-clouds
  border-width: 0 0 2px 0
  background-color: transparent


// -----------------------------
// Text elements.
// -----------------------------

%p
  margin: 0 0 0.6em

%s
  position: relative
  text-decoration: none
  margin-left: 0.2em
  &:before, &:after
    content: ""
    position: absolute
    width: 110%
    height: 1px
    background-color: rgba(black, 0.6)
    left: -5%
    top: 55%
    z-index: -1
    transform: rotate(-8deg)
  &:before
    transform: rotate(-8deg)
  &:after
    transform: rotate(8deg)


// -----------------------------
// Block elements.
// -----------------------------

%blockquote
  border-left: 4px solid $color-amethyst
  margin: 2em 0
  padding: 0.6em 1em
  background-color: rgba(black, 0.02)
  p
    font-style: italic
    color: $color-asbestos
    &:last-child
      margin-bottom: 0

// -----------------------------
// Lists.
// -----------------------------

%ul
  > %li


// -----------------------------
// Images.
// -----------------------------

%img
  max-width: 100%
