/*
 *------------------------------------------------------------------------------
 * Text Helpers
 *------------------------------------------------------------------------------
 */



// -----------------------------
// Styles.
// -----------------------------

%readable
  display: block
  max-width: 60rem
  margin-right: auto
  margin-left: auto
  padding-left: 15px
  padding-right: 15px

%remarkable
  padding-top: 3em
  padding-bottom: 3em
  font-size: 1.8em
  text-align: center
  line-height: 1.5em

%silent
  opacity: 0.6
