/*
 *------------------------------------------------------------------------------
 * Themes
 *------------------------------------------------------------------------------
 * Use this file to define common transitions.
 */



// -----------------------------
// Construct themes.
// -----------------------------

@each $name, $color in $colors
  %theme-#{$name}
    blockquote
      border-left-color: $color

    pre[class*="language-"] .line-numbers-rows
      background-color: $color

    a
      color: inherit

    .header-section,
    .footer-section
      background-color: $color
      color: white

      h1 small
        font-size: 0.4em
        float: right
        color: rgba(white, 0.8)

        a:hover, a:focus
          color: white

      %panel-item
        &:hover, &:active
          background-color: white
          color: $color

      %quiet
        opacity: 0.4
        &:hover, &:active
          opacity: 1
    
    .content-section
      a:hover, a:focus
        color: $color

      %panel-item
        &:hover, &:active
          border-left-color: $color

    .section-icon
      &, &:hover, &:focus
        color: $color
