
<div class="blog blog-post">
  <header class="header-section">
    <div class="section-inner">
      <ul class="breadcrumbs">
        <li><a ui-sref="blog">Blog</a></li>
      </ul>
      <h1 class="page-title">{{post.title}}</h1>
    </div>
  </header>

  <section class="dividing-section post-meta">
    <div class="section-inner">
      <div class="post-meta-date">
        <time datetime="{{post.date | date:'yyyy-MM-dd'}}">
          {{post.date | date:'longDate'}}
        </time>
      </div>
      <div class="post-meta-tags" ng-if="post.tags.length">
        <span>Tags: </span>
        <ul class="post-tags">
          <li class="post-tag"
            ng-repeat="tag in post.tags"
            ng-class="{
              'penult': $index == (post.tags.length - 2)
            }">
            <a ui-sref="blog({tag: tag.slug})">{{tag.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="message-section message-success" ng-show="translation">
    <div class="section-inner">
      <a ui-sref="blog.post({slug: translation.slug})"
        translate="I18N.OWN_LANGUAGE_SUGGESTION"></a>
    </div>
  </section>

  <section class="content-section">
    <div class="section-inner">
      <article class="post">
        <div class="post-body" post-html></div>
      </article>
    </div>
  </section>

  <section class="comment-section content-section">
    <div class="section-inner">
      <h2 translate="MISC.COMMENTS"></h2>
      <div id="disqus_thread" disqus="'blog/' + post.slug"></div>
    </div>
  </section>
</div>
