
<div class="blog blog-posts">
  <header class="header-section">
    <div class="section-inner">
      <h1 class="page-title">Blog Posts <small>Powered by <a href="http://ghost.org/" target="_blank">Ghost</a></small></h1>
    </div>
  </header>

  <section class="content-section">
    <div class="section-inner">

      <div class="article-list post-list">
        <div class="article-group post-translations"
          ng-repeat="(date, grouped) in posts | groupBy: 'published_at'">
          <article class="post"
            ng-repeat="post in grouped | language">
            <a ui-sref="blog.post({slug: '{{post.slug}}'})">
              <header>
                <h2>{{post.title}}</h2>
                <div class="post-meta-date">
                  <time datetime="{{post.date | date:'yyyy-MM-dd'}}">
                    <span class="date-day">{{post.date | date:"d"}}</span>
                    <span class="date-month">{{post.date | date:"MMM"}}</span>
                  </time>
                </div>
              </header>

              <div class="post-excerpt"
                ng-bind-html="post.html | excerpt | html"></div>

              <footer>
                <span class="post-meta">
                </span>
              </footer>
            </a>
          </article>
        </div>
      </div>
      <p class="only-language-results">
        <a
          ng-if="posts.length > (posts | language).length"
          ui-sref="home.language"
          translate
          translate-values="{language: language.name}">I18N.FILTERED_TEXT</a>
      </p>
    </div>
  </section>
</div>
