
<div class="blog blog-post">
  <header class="header-section">
    <div class="section-inner">
      <ul class="breadcrumbs">
        <li><a ui-sref="blog">Blog</a></li>
      </ul>
      <h1 class="page-title">{{post.title}}
        <small>
          <time datetime="{{post.date | date:'yyyy-MM-dd'}}">
            {{post.date | date:'longDate'}}
          </time>
        </small>
      </h1>
    </div>
  </header>

  <section class="content-section">
    <div class="section-inner">
      <article class="post">
        <div class="post-body" post-html></div>
      </article>
    </div>
  </section>

  <section class="comment-section content-section">
    <div class="section-inner">
      <h2 translate="MISC.COMMENTS"></h2>
      <div id="disqus_thread" disqus="'blog/' + post.slug"></div>
    </div>
  </section>
</div>
